<h1>Coin Counter</h1>
<form action="/result">
  <div class="form-group">
    <label for="coins">Count yo coins son</label>
    <input name="coins" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Send</button>
</form>
